
@model Ticketing.Data.ViewModels.DepartmentVM


<div class="panel panel-default">
    <div class="panel-heading collapsed" data-toggle="collapse" data-parent="#DegreesContainerAccordion" data-target="#@Model.RecID">
        <h4 class="panel-title accordion-toggle">
            <a data-toggle="collapse" data-parent="#DegreesContainerAccordion" href="#@Model.RecID">
                @Model.Name
            </a>
        </h4>
    </div> <!--Panel Head Ends here-->


    
    <div id="@Model.RecID" class="panel-collapse collapse">
        <!--body -->
        <div class="panel-body">

            <!-- Panel for DegreeProgram Starts Here-->
            <div class="panel-group" id="@(Model.RecID + "DegreePrograms")">


            </div>
        </div>
        @Html.Partial("Degrees/_AddDegreeProgram", Model)
    </div>
    
</div>
