
<div id="MainTOC">
    <a href="#jQueryAjax"> jQuery AJAX</a>
    <br />
    <a href="#jQueryDOM"> jQuery and The DOM</a>
</div>
<a name="jQueryAjax" />
    JQuery has excellent AJAX feature buil-in out of the box.
    
<br />
<a name="jQueryDOM" />
Using jQuery you can manipulate the DOM easily without dealing with cross-browser issues.
<div id="SubTOC">
    This is my sub table of contents
</div>