<div>
    @Html.Label("Select Supervisor based on My Degree Program")
</div>
<div class="form-group">
    
    @Html.Label("Supervisor ", htmlAttributes: new { @class = "control-label col-md-2" })
    <div>
        @Html.Editor("FirstSuperVisor", new { htmlAttributes = new { @class = "form-control", @placeholder = "Ticketing App" } })
        @Html.ValidationMessage("do it", "", new { @class = "text-danger" })
    </div>
</div>
