<div class="row col-lg-12" >
    <ul class="nav navbar-nav navbar-left ticketingmenu">
        <li><a href="~/Student/Index">Home</a></li>
        <li  class="last"><a href="~/Student/StudentProposal">Create a new ticket</a></li>
      

    </ul>
</div>
