@{
    ViewBag.Title = "Home Page";
}


<div class="row">

    @if (User.IsInRole("Admin"))
    {
        @: You are Admin
    }

    @if (User.IsInRole("Student"))
    {
        @: You are student
    }

</div>
