
@{
    ViewBag.Title = "Test page for learning";
}
@section Scripts{

    <script type="text/javascript">
        window.onload = function () {
            //alert('Window loaded');
        };

        $(document).ready(function () {
           
            //$('tr').on({
            //    click: function(){
            //        $(this).css('background-color', 'green').css('font-size', '30px');
            //    },
            //    mouseleave: function () {
            //        $(this).css('background-color', 'blue').css('font-size', '12px');
            //    }
            //});

            $('#myButton').click(function () {
                $('#OutputDiv').load()
            })


        });

        function wireEvents() {
            $("#SubmitButton").click(function () {

            });

            $("#StateSelect").change(function () {
                alert(($this).val());
            });
            $('#myButton').on('mouseenter mouseleave mouseup', function (e) {
                $(this).css('cursor', 'pointer');
            });

        }
        function theCodes() {
            //$('div').css('background-color', 'Green');
            //$('div').each(function () {
            //    var inputs = $(':input');
            //    inputs.css('background-color', 'Green');
            //    inputs.each(function () {
            //        var elem = $(this);
            //        elem.val("hi");
            //    });
            //});
            var output = $('#OutputDiv');
            //$('div.BlueDiv, div.RedDiv').each(function (index) {
            //    //output.html(output.html() + "<br />" + index + $(this).text());

            //});
            $('div.BlueDiv, div.RedDiv').attr(
                {
                    title: 'some title 3',
                    style: 'font-size:20px;background-color:blue;'
                }
            ) //chaining starts here! amazing!
                .css('background-color', 'yellow')
                .css({ 'color': 'black', 'font-size': '22px' }),
                            .css('font-size', '22px');
            $('#OutputDiv').append('<div style="background-color:green;"> Hurray </div> ');
            $('#OutputDiv').addClass('Highlight');
            $('#OutputDiv').removeClass('Highlight');
            if ($('#OutputDiv').hasClass('Highlight')) {

            }
            $('#OutputDiv').toggleClass('Hightlight');
        }
    </script>
}

<div id="OutputDiv">
    I am output
</div>
<div class="BlueDiv">
    I am Blue
</div>
<div class="RedDiv">
    I am Red
</div>
<div id="myContent">
    My jQuery enabled Page!

</div>
<table id="myTable">
    <tr>
        <td>  data </td>
    </tr>
    <tr>
        <td>  data </td>
    </tr>
    <tr>
        <td> data  </td>
    </tr>
</table>

<div>
    just nothing
</div>
<label>Name: </label> <input type="text" /> <br />
<label>Name: </label> <input type="radio" /> <br />
<label> age: </label> <input type="text" title="age" /><br />
<label> age: </label> <input type="text" title="ages" />
<input type="button" id="myButton" value="Enter" />