@model Ticketing.Data.ViewModels.SupervisorDegreeProgramVM
@Html.Partial("SupervisorHeader")

<h4>Select Specializations to recieve proposals for</h4>
<hr />
<div>
    <div id="SuperVisorSpecializations">
        jstree
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Supervisor.Id)



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Save" id="SubmitSupervisorSpecialization" class="btn btn-default" />
            </div>
        </div>
    </div>
}