

@model Ticketing.TicketModel.ViewModels.ProposalUserViewModel

<div class="col-md-4">
    <h2> your submitted proposal </h2>
    <p>

    </p>
    <p><a class="btn btn-default" href=""> New </a></p>
</div>
