@model Ticketing.Data.TicketModel.ViewModels.EmailContentVM


    <td>

        @Html.EditorFor(model => model.EmailType, new { htmlAttributes = new { @class = "form-control" } })
    </td>
    <td>

        @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
    </td>
    <td>


        @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" , rows = 10} })
    </td>

<td>

</td>