
<ul class="nav navbar-nav navbar-left ticketingmenu">
    <li><a href="~/Admin/Departments">Fachbereiche</a></li>
    <li><a href="~/Admin/Index">Rollen und Domäne</a></li>
    <li><a href="~/Admin/Users">Benutzer</a></li>
    <li><a href="~/Admin/EmailServerSettings">Email Einstellungen</a></li>
    <li><a href="~/Admin/Users">Dateieinstellungen</a></li>
    <li><a href="~/Admin/Users">Tickets</a></li>
    <li class="last"><a href="~/Admin/Users">Berichte</a></li>
</ul>
