@model Ticketing.Data.TicketModel.ViewModels.AdminViewModel

@Html.Partial("AdminHeader")
        <div class="row">
            <div class="col-md-12" >

                <!-- ROLE SECTION STARTS HERE-->
                @Html.Partial("_RolesPartial", Model.RoleViewModel)


                <!--ROLE SECTION ENDS HERE-->
                <!--ALLOWED DOMAIN Section starts HERE-->
                @Html.Partial("_DomainsPartial", Model.AllowedDomainVM)
                <!--ALLOWED DOMAIN Section Ends HERE-->
            </div>
        </div>
   
 


</div> <!--tab-content ends here -->


    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

