
<ul class="adminHeader">
    <li><a href="~/Supervisor/Index">Home</a></li>
    <li><a href="~/Supervisor/Setting">Settings</a></li>
    <li><a href="~/Supervisor/Notifications">Notifications</a></li>
    <li><a href="~/Supervisor/EmailSettings">Email Settings</a></li>
    <li><a href="~/Supervisor/Reports">Reports</a></li>
    <li><a href="~/Supervisor/Tickets">Tickets</a></li>  
</ul>
<hr />
