
@model Ticketing.TicketModel.Proposal

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <!-- main content start-->
    <div class="main-content">
        <!-- header-starts -->

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-3">
                    @Html.Partial("LeftSide");
                </div>

                <div class="col-lg-8">
                    <div>
                        <div style="height:20px"></div>
                        <p></p>
                        @Html.Partial("TicketHeader")
                    </div>
                    <div class="TicketBody" id="TicketBody">

                        <ul>
                            <li>
                                <h4>If Tickett is thesis then Generate and send thesis registration form</h4>
                            </li>
                            <li> <h4>Display some other properties of Ticket</h4></li>

                        </ul>
                       

                    </div>
                </div>


            </div>
        </div>

    </div>
</section>