@model Ticketing.Data.ViewModels.DegreeProgramVM

@if (Model != null)
{

<div class="panel panel-default">

    <div class="panel-heading collapsed bg-blue-panel" data-toggle="collapse" data-parent="#@(ViewBag.departmentId + "DegreePrograms")" data-target="#@Model.RecID">
        <h4 class="panel-title accordion-toggle">
            <a data-toggle="collapse" data-parent="#@(ViewBag.departmentId + "DegreePrograms")" href="#@Model.RecID">
                @Model.Name 
            </a>
        </h4>
    </div>

    <div id="@Model.RecID" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="specialisation-list" id="@(Model.RecID + "Specializations")">
                
            </ul>
            @Html.Partial("Degrees/_AddSpecialization", Model.RecID)
        </div>
    </div>


</div>



}

<!--Second Level Ends Here-->
